body {
    font-family: arial, helvetica, sans-serif;
    color: #333;
}

.tribute-page {
    text-align: center;
    background-color: #eee;
    padding: 60px 5px 50px 5px;
}

.heading {
    font-size: 56px;
    margin-bottom: 30px;
}

.heading-text {
    font-size: 18px;
}

.img-section {
    background-color: white;
    margin: 0;
}

.img {
    width: 98%;
}

.img-caption {
    font-size: 18px;
    line-height: 170%;
    padding: 15px 0;
}

.timeline-heading {
    padding: 30px 0;
}

.timeline {
    max-width: 700px;
    margin: 50px auto 0;
}

.timeline-list-time {
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    margin: 20px;
}

.quote {
    font-size: 16px;
    line-height: 200%;
    font-style: italic;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

blockquote {
    padding: 20px 0;
}